<h2>ユーザー詳細</h2>

<table border="1" class="table">
     <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
    </tr>
    <tr>
        <th>パスワード</th>
        <td> ******** </td>
    </tr>
</table>
<%= link_to "編集", edit_user_registration_path %>

<div class="userAccountProfile">
    <p><%= link_to "アカウント", users_account_path %></p>
    <p><%= link_to "プロフィール", users_profile_path %></p>
</div>

 <%= link_to "戻る", :back %>
