<h2>ユーザープロフィール</h2>


    <table border="1" class="table">
        <tr>
            <th>アイコン画像</th>
            <% if @user.image.blank? %>      
                <td><%= image_tag 'user_img.png', size: "50x50" %></td>  
            <% else %>
                <td><%= image_tag @user.image.variant(resize: "50x50") %></td>
            <% end %>
        </tr>
        <tr>
            <th>名前</th>
            <td><%= @user.name %></td>
        </tr>
        <tr>
            <th>自己紹介</th>
            <td><%= @user.self_introduction %></td>
        </tr>
    </table>
    <p><%= link_to "編集", users_profile_edit_path %></p>


<div class="userAccountProfile">
    <% if user_signed_in? && @user == current_user %>
        <p><%= link_to "アカウント", users_account_path %></p>
        <p><%= link_to "プロフィール", users_profile_path %></p>            
    <% end %>
</div>

<%= link_to "戻る", :back %>
