<h2>ユーザープロフィール</h2>

<div class="userInfo">
    <p>アイコン画像</p>
    <% if @user.image.blank? %>      
    <p><%= image_tag 'user_img.png', size: "50x50" %></p>  
    <% else %>
        <p><%= image_tag @user.image.variant(resize: "100x100") %></p>
    <% end %>
    <p>名前</p><p><%= @user.name %></p>
    <p>自己紹介</p><p><%= @user.self_introduction %></p>
    <p><%= link_to "編集", users_profile_edit_path %></p>
</div>

<div class="userAccountProfile">
    <% if user_signed_in? && @user == current_user %>
        <p><%= link_to "アカウント", users_account_path %></p>
        <p><%= link_to "プロフィール", users_profile_path %></p>            
    <% end %>
</div>

<%= link_to "戻る", :back %>
