<h2>ユーザープロフィール編集</h2>

<%= form_with model: @user, url: users_profile_update_path, method: :patch do |f| %>
    <table border="1" class="table">
        <tr>
            <th><%= f.label :name, "名前" %></th>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
            <th><%= f.label :self_introduction, "自己紹介" %></th>
            <td><%= f.text_field :self_introduction %></td>
        </tr>
        <tr>
            <th><%= f.label :image, "アイコン" %></th>
            <td><%= f.file_field :image %></td>
        </tr>
    </table>
    <%= f.submit "保存" %>
<% end %>

<%= link_to "戻る", users_profile_path %>
