<h2>ユーザー詳細</h2>

<p>メールアドレス</p><p><%= @user.email %></p>
<p>パスワード</p><p> ******** </p>

<p><%= link_to "アカウント", users_show_path %></p>

<div>
    <% if user_signed_in? && @user == current_user %>
        <p><%= link_to "編集", edit_user_registration_path %></p>
    <% end %>
</div>

<p><%= link_to "ログイン", new_user_session_path%></p>
<p><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></p>
