<h2>予約済施設一覧</h2>
<% if @reservations.present? %>
<table border="1" class="table">
  <tr>
  <th>画像</th>
  <th>施設名</th>
  <th>施設詳細</th>
  <th>合計料金（円）</th>
  <th>チェックイン日</th>
  <th>チェックアウト日</th>
  <th>予約確定日時</th>
  </tr>
  <% @reservations.each do |reservation| %> 
    <% if reservation.room.image.blank? %>
      <td><%= image_tag 'institution.png', size: "80x50" %></td>
    <% else %>
      <td><%= image_tag reservation.room.image.variant(resize: "80x50") %></td>
    <% end %>
    <td><%= link_to "#{reservation.room.name}", reservation.room %></td>
    <td><%= reservation.room.information %></td>
    <td><%= reservation.room.price*(reservation.check_out.day - reservation.check_in.day)*reservation.number_of_people %></td>
    <td><%= reservation.check_in.strftime('%Y/%m/%d')  %></td>
    <td><%= reservation.check_out.strftime('%Y/%m/%d')  %></td>
    <td><%= reservation.created_at.strftime('%Y/%m/%d %H:%M') %></td>
    </tr>
    <br>
  <% end %>
</table>

<% else %>
  <p>予約情報はありません</p>
<% end %>

<%= link_to "戻る", :back %>
