<h2>施設の予約</h2>
#rooms showアクションから予約するのでこのページは不要
<%= form_with model: @reservation do |f| %>
    <table>
     <tr>
      <th><%= f.label :check_in, "チェックイン" %></th>
      <td><%= f.date_field :check_in %></td>
     <tr>

     <tr>
      <th><%= f.label :check_out, "チェックアウト" %></th>
      <td><%= f.date_field :check_out %></td>
     <tr>

     <tr>
      <th><%= f.label :number_of_people, "人数" %></th>
      <td><%= f.text_field :number_of_people %></td>
     <tr>
   
    </table>
    <%= f.hidden_field :user_id, value: @user.id %>
    <%= f.hidden_field :room_id, value: @user.id %>
    <!--room_idを取得するコードを書く-->
    <%= f.submit "登録する" %>

<% end %>
<%= link_to "戻る", :back %>
