<h2>登録済施設一覧</h2>
<table border="1" class="table">
  <tr>
  <th>画像</th>
  <th>施設名</th>
  <th>施設情報</th>
  <th>宿泊料金（円/日）</th>
  <th>作成日</th>
  </tr> 
  <tr>
  <% @rooms.each do |room| %>
  <% if room.image.blank? %>
    <td><%= image_tag 'institution.png', size: "80x50" %></td>
  <% else %>
    <td><%= image_tag room.image.variant(resize: "50x50") %></td>
  <% end %>
  <td><%= link_to "#{room.name}", room %></td>
  <td><%= room.information %></td>
  <td><%= room.price %></td>
  <td><%= room.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <% end %>
</table>

<%= link_to "戻る", :back %>
