<h2>検索結果</h2>

<% if @rooms.present? %>
  <table border="1" class="table">
    <tr>
      <th>画像</th>
      <th>施設名</th>
      <th>住所</th>
      <th>施設詳細</th>
      <th>宿泊料金（/日）</th>
    </tr>
    <% @rooms.each do |room| %> 
      <tr>
        <% if room.image.blank? %>
          <td><%= image_tag 'institution.png', size: "80x50" %></td>
        <% else %>
          <td><%= image_tag room.image.variant(resize: "80x50") %></td>
        <% end %>
        <td><%= link_to "#{room.name}", room %></td>
        <td><%= room.address %></td>
        <td><%= room.information %></td>
        <td><%= room.price %></td>
      </tr>
    <% end %>
  </table>
  <p>検索結果</span><%= @rooms.count %><span>件</p>
<% else %>
  <p>検索結果はありません</p>
<% end %>

<%= link_to "戻る", :back %>
